@model List<HAHotel.Models.Order>
@using HAHotel.Models
@{
    ViewBag.Title = "Quản lý đặt phòng";
    var listRooms = (List<RoomType>)ViewBag.ListRoom;
}

@if (Model != null)
{
    <link href="~/AdminStyle/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="/AdminStyle/css/dataTables/dataTables.responsive.css" rel="stylesheet">

    <div class="row">
        @*<div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>
                        <a href="@Url.Action("Edit", "AdminOrder", new {Area = "Admin"})" type="button" class="btn btn btn-primary">
                            <i class="fa fa-fw" aria-hidden="true" title="Copy to use plus-circle"></i>
                            Thêm mới
                        </a>
                    </p>
                </div>
            </div>
        </div>*@

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh sách đặt phòng
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Trạng thái</th>
                                    <th>Tên</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Loại phòng</th>
                                    <th>Ngày nhận</th>
                                    <th>Ngày trả</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày xử lý</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>@(item.Status > 0 ? "Đã xử lý" : "Chờ xử lý")</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@(listRooms?.FirstOrDefault(x=>x.RoomTypeId == item.RoomId)?.TypeName ?? item.RoomId.ToString())</td>
                                        <td>@item.CheckIn.ToString("dd/MM/yyyy")</td>
                                        <td>@item.CheckOut.ToString("dd/MM/yyyy")</td>
                                        <td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
                                        <td>@item.ModifiedAt.Value.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>

            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
}