<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HaHotel - Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/AdminStyle/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/AdminStyle/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/AdminStyle/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/AdminStyle/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/AdminStyle/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/AdminStyle/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Epocho Hotel</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @Html.Partial("_Menu")
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">@ViewBag.PageTitle</h1>
                    </div>
                </div>

                @Html.Partial("_Notifications")
                @RenderBody()
            </div>
        </div>

        <script src="/AdminStyle/js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/AdminStyle/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/AdminStyle/js/metisMenu.min.js"></script>

        <!-- DataTables JavaScript -->
        <script src="/AdminStyle/js/dataTables/jquery.dataTables.min.js"></script>
        <script src="/AdminStyle/js/dataTables/dataTables.bootstrap.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/AdminStyle/js/startmin.js"></script>
        <script src="/AdminStyle/js/site.js"></script>
        <script src="/AdminStyle/ckfinder/ckfinder.js"></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function () {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>