<!-- Sidebar -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="@Url.Action("Index", "Menu", new {area = "Admin"})" class="active"><i class="fa fa-list fa-fw"></i>Quản lý menu</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "SystemSlide", new {area = "Admin"})" class="active"><i class="fa fa-dashboard fa-fw"></i> Danh sách slide</a>
            </li>
            <li>
                <a href="@Url.Action("EditFooter", "Home", new {area = "Admin"})" class="active"><i class="fa fa-list fa-fw"></i>Cấu hình footer</a>
            </li>
            <li>
                <a href="@Url.Action("Introduction", "Home", new {area = "Admin"})" class="active"><i class="fa fa-info fa-fw"></i> Giới thiệu về công ty</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "RoomType", new {area = "Admin"})" class="active"><i class="fa fa-dashboard fa-fw"></i>Quản lý loại phòng</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "AdminNews", new {area = "Admin"})" class="active"><i class="fa fa-edit fa-fw"></i>Quản lý bài viết</a>
            </li>

            <li>
                <a href="#" class="active"><i class="fa fa-edit fa-fw"></i> Liên hệ</a>
            </li>
            <li>
                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Bài viết</a>
            </li>
            <li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Quản trị hệ thống<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
                    <li>
                        <a href="panels-wells.html">Quản lý người dùng</a>
                    </li>
                    <li>
                        <a href="buttons.html">Cấu hình hệ thống</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            </li>
        </ul>
    </div>
</div>