@model HAHotel.Models.Footer
<section class="contact-block">
    <div class="container">
        <div class="col-md-6 contact-left-block">
            <h3><span>Thông tin </span>liên hệ</h3>
            <p class="text-left">Sapa New Epoch Hotel, Sa Pa – Đặt phòng được Đảm Bảo Giá Tốt Nhất!</p>
            <p class="text-right">@Model.Address <i class="fa fa-map-marker fa-lg"></i></p>
            <p class="text-right"><a href="tel:+1-202-555-0100">@Model.Phone <i class="fa fa-phone fa-lg"></i></a></p>
            <p class="text-right"><a href="mailto:demo@info.com">@Model.Email <i class="fa fa-envelope"></i></a></p>
        </div>
        <div class="col-md-6 contact-form">
            <h3>Nhập <span>thông tin</span></h3>
            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.FailedMessage))
            {
                <div class="alert alert-danger">
                    <ul>
                        @Html.Raw(ViewBag.FailedMessage)
                    </ul>
                </div>
            }
            <form action="@Url.Action("Send", "Contact")" method="post">
                <input type="text" class="form-control" name="Name" placeholder="Tên">
                <input type="text" class="form-control" name="Phone" placeholder="Số điện thoại">
                <input type="email" class="form-control" name="Email" placeholder="Email">
                <textarea class="form-control" name="Content" placeholder="Nhập nội dung"></textarea>
                <input type="submit" class="submit-btn" value="Gửi">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!---map--->
<section class="offspace-70">
    <div class="map">
        <div class="container">
          <iframe frameborder="0" style="border:0; width: 100%; height: 400px" allowfullscreen src="https://maps.google.com/maps?q=New%20epoch%20sapa%20hotel&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        </div>
    </div>
</section>