@model IEnumerable<HAHotel.Models.News>

@if (Model != null && Model.Any())
{
    int i = 1;
<section class="resort-overview-block">
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            if (i % 2 != 0)
            {
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a><img style="width: 280px !important; height: 186px !important;" src="@item.UrlImage" class="img-responsive" alt="image"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="@Url.Action("Detail", "News", new {ItemId=item.NewId})">@item.Title</a></h3>
                            <p>@Html.Raw(item.Description)</p>
                            @*<div class="links"><a href="single-blog.html">Xem thêm</a>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            }
            else
            {
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a><img style="width: 280px !important; height: 186px !important;" src="@item.UrlImage" class="img-responsive" alt="image"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3>
                                <a href="@Url.Action("Detail", "News", new {ItemId=item.NewId})">@item.Title</a>
                            </h3>
                            <p>@Html.Raw(item.Description)</p>
                            @*<div class="links">
                                @* <a href="single-blog.html">Xem thêm</a></div>*@
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            }
            i++;
        }
       </div>
</div>
</section>
}
