@{
    string cssServer = "http://localhost:60932/";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/icons/favicon.png" />
    <title>Epoch Hotel</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/lightbox.min.css">
    <link href="/css/responsive.css" rel="stylesheet">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <script src="/js/instafeed.min.js" type="text/javascript"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
    <link href="/js/datetimeplugin/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/datetimeplugin/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/datetimeplugin/jquery-ui.js"></script>
</head>
<body>
    <div id="page">
        <!---header top---->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!--                            <a href="#"> </a>
                                                    <div class="info-block"><i class="fa fa-map"></i>701 Old York Drive Richmond USA.</div>-->
                    </div>
                    <div class="col-md-6">
                        <div class="social-grid">
                            <ul class="list-unstyled text-right">
                                <li><a><i class="fa fa-facebook"></i></a></li>
                                <li><a><i class="fa fa-twitter"></i></a></li>
                                <li><a><i class="fa fa-linkedin"></i></a></li>
                                <li><a><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header--->
        <header class="header-container">
            <div class="container">
                <div class="top-row">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <div id="logo">
                                <!--<a href="index.html"><img src="images/logo.png" alt="logo"></a>-->
                                <a href="@Url.Action("Index", "Home")">EPOCH sapa</a>
                            </div>
                        </div>
                        <div class="col-sm-6 visible-sm">
                            @*<div class="text-right"><button type="button" class="book-now-btn">Book Now</button></div>*@
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header page-scroll">
                                    <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                @Html.Action("MenuItem", "Menu")
                            </nav>
                        </div>
                        <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
                            <div class="text-right"><a href="@Url.Action("Index", "Service")" class="book-now-btn">Book Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @Html.Partial("_Background")
        <!--end-->
        <div class="clearfix"></div>    
        @RenderBody()
        <!---footer--->
       @Html.Action("Footer", "Menu")
        
        <!--back to top--->
        <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
            <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
            <span>Top</span>
        </a>
       
    @* @Scripts.Render("~/bundles/jquery") *@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
        <style>
            .hotlineEpoch {
                background: #0080c8;
                position: fixed;
                bottom: 155px;
                height: 40px;
                line-height: 40px;
                padding: 10p 0px 0 0px;
                border-radius: 40px;
                color: #fff;
                right: 40px;
                z-index: 99999
            }
            .zalo {
                background: #009dff;
                position: fixed;
                bottom: 200px;
                height: 40px;
                line-height: 40px;
                padding: 10p 0px 0 0px;
                border-radius: 40px;
                color: white;
                right: 40px;
                z-index: 99999
            }
            .hotline1 {
                background: #ED1C24;
                position: fixed;
                bottom: 112px;
                height: 40px;
                line-height: 40px;
                padding: 0 0px 0 0px;
                border-radius: 40px;
                color: #fff;
                right: 40px;
                z-index: 99999;
            }
        </style>
    </div>
</body>
</html>