@if (Model != null)
{
    <section class="gallery-block gallery-front">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="@item.UrlImage">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="@Url.Action("Index", "Service")">Booking <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <p><a href="@Url.Action("Detail", "Room", new { roomId=item.RoomTypeId})">@item.TypeName</a>
                                </p>
                            </div>
                        </div>
                        <p style="font-size: 100%;font-weight: bold; text-align: center; padding-bottom: 30px; padding-top: 10px;"><a href="@Url.Action("Detail", "Room", new { roomId=item.RoomTypeId})">@item.TypeName</a>
                    </div>
                }
            </div>
        </div>
    </section>
}
