@if (Model != null)
{
    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                if (i == 0)
                {
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel1" data-slide-to="@i"></li>
                }

                i++;
            }
        </ol>
        <div class="carousel-inner">
            @{ i = 0;}
            @foreach (var item in Model)
            {
                if (i == 0)
                {
                    <div class="item active">
                        <img src="@item.UrlImage" style="width: 100%; height: 500px" alt="First slide">
                        <div class="carousel-caption">
                            <h1><a style="color: white !important;"> @item.SlideName </a>
                            </h1>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="@item.UrlImage" style="width: 100%; height: 500px" alt="Slide @(i + 1)">
                        <div class="carousel-caption">
                            <h1>
                                <a style="color: white !important;"> @item.SlideName </a>
                                                    </h1>
                        </div>
                    </div>
                }
                i++;
            }

        </div>
        <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="/images/icons/left-arrow.png" onmouseover="this.src = '/images/icons/left-arrow-hover.png'" onmouseout="this.src = '/images/icons/left-arrow.png'" alt="left"></a>
        <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="/images/icons/right-arrow.png" onmouseover="this.src = '/images/icons/right-arrow-hover.png'" onmouseout="this.src = '/images/icons/right-arrow.png'" alt="left"></a>
    </div>
}

