@model List<HAHotel.Models.RoomType>
@using HAHotel.Models
@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{
    <link href="~/AdminStyle/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="/AdminStyle/css/dataTables/dataTables.responsive.css" rel="stylesheet">

    <div class="row">
        <p>
            <a href="@Url.Action("Edit", "RoomType", new { Area = "Admin"})" type="button" class="btn btn-default btn-lg col-lg-offset-10">
                <i class="fa fa-fw" aria-hidden="true" title="Copy to use plus-circle"></i> 
                Tạo mới
            </a>
        </p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh sách loại phòng
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên</th>
                                    <th>Ảnh đại diện</th>
                                    <th>Trạng thái</th>
                                    <th rowspan="1" colspan="1">    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>@item.RoomTypeId</td>
                                        <td>@item.TypeName</td>
                                        <td class="center">
                                            <img width="50%" height="60%" src="@item.UrlImage" />
                                        </td>
                                        <td class="center">@(item.IsActive ? Constants.ActiveDescription : Constants.InactiveDescription)</td>
                                        <td class="center">
                                            <a href="@Url.Action("Edit", "RoomType", new { Area= "Admin"})">Sửa</a>
                                            <a href="@Html.Raw(Url.Action("Delete", "RoomType", new { Area= "Admin", itemId = item.RoomTypeId}))">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>

            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
}